<div id="modulesCarouselAutoplay" class="carousel slide mb-6 pointer-event" data-bs-ride="carousel" data-bs-theme="dark">
    <!-- data-bs-ride="carousel" -->
    <div class="carousel-indicators" data-bs-theme="dark">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner h-100">
        <div class="carousel-item h-100 active">
            <div class="bg-image" id="carousel-image1"></div>
            <svg aria-hidden="true" class="bd-placeholder-img" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" xmlns="http://www.w3.org/2000/svg">
                <rect width="100%" height="100%" fill="var(--bs-magic-primary-light)"></rect>
            </svg>
            <div class="carousel-caption mb-5 text-start">
                <!-- d-none d-sm-block -->
                <h3 class="display-4">Heading 1</h3>
                <div class="underline-highlight"></div>
                <p class="mt-md-2">Some representative placeholder content for the first slide.</p>
                <a href="#/modules" class="btn btn-magic-primary btn-lg fs-6 fw-light">Mehr erfahren</a>
            </div>
        </div>
        <div class="carousel-item h-100">
            <div class="bg-image" id="carousel-image2"></div>
            <svg aria-hidden="true" class="bd-placeholder-img" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" xmlns="http://www.w3.org/2000/svg">
                <rect width="100%" height="100%" fill="var(--bs-magic-tertiary-dark)"></rect>
            </svg> 
            <div class="carousel-caption mb-5 text-start">
                <!-- d-none d-sm-block -->
                <h3 class="display-4">Heading 2</h3>
                <div class="underline-highlight"></div>
                <p>Some representative placeholder content for the second slide.</p>
                <a href="#/modules" class="btn btn-magic-primary btn-lg fs-6 fw-light">Learn  more</a>
            </div>       
        </div>
        <div class="carousel-item h-100">
            <div class="bg-image" id="carousel-image3"></div>
            <svg aria-hidden="true" class="bd-placeholder-img" height="100%" preserveAspectRatio="xMidYMid slice" width="100%" xmlns="http://www.w3.org/2000/svg">
                <rect width="100%" height="100%" fill="var(--bs-magic-tertiary-dark)"></rect>
            </svg>      
            <div class="carousel-caption mb-5 text-start">
                <!-- d-none d-sm-block -->
                <h3 class="display-4">Heading 3</h3>
                <div class="underline-highlight"></div>
                <p>Some representative placeholder content for the third slide.</p>
                <a href="#/modules" class="btn btn-magic-primary btn-lg fs-6 fw-light">Mehr erfahren</a>
            </div>  
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#modulesCarouselAutoplay" data-bs-slide="prev" data-bs-theme="dark">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#modulesCarouselAutoplay" data-bs-slide="next" data-bs-theme="dark">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>