<div>
    <h1 class="mt-5">Willkommen</h1>
    
    <p class="lead bg-body-tertiary p-5 rounded">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia doloremque natus aut aperiam quod facere numquam temporibus voluptas soluta quos, libero tempore excepturi officia corporis culpa, vero rem, voluptate similique!
    </p>
</div>
