$font-families: (
    "brand": "Space Grotesk",
    "body": "Inter",
    "label": "Source Code Pro");

$brand-font: map-get($font-families, "brand");

// Grundfarben
$custom-colors: (
    "magic-primary": #0F172A,
    "magic-secondary": #64748B,
    "magic-tertiary": #F1F5F9,
    "magic-accent": #F97316
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$magic-primary: #0F172A;
$magic-secondary: #64748B;
$magic-tertiary: #F1F5F9;
$magic-accent: #F97316;

// Abstufungen (hell/dunkel)
$magic-primary-light:  lighten($magic-primary, 20%);
$magic-primary-dark:   darken($magic-primary, 15%);

$magic-secondary-light: lighten($magic-secondary, 20%);
$magic-secondary-dark:  darken($magic-secondary, 15%);

$magic-tertiary-light: lighten($magic-tertiary, 20%);
$magic-tertiary-dark:  darken($magic-tertiary, 15%);

$magic-accent-light: lighten($magic-accent, 20%);
$magic-accent-dark:  darken($magic-accent, 15%);

$border-radius: 0.1rem;
$border-radius-lg: 0.1rem;
$border-color: $magic-secondary;

$navbar-toggler-border-color: $magic-secondary;

$btn-padding-x: 0.5rem;
$btn-padding-y: 0.325rem;
$btn-padding-x-lg: 0.5rem;
$btn-padding-y-lg: 0.3rem;

$modal-content-border-radius: $btn-border-radius;

// githubpages
$img-path: "/geoxtensions/static/img/";

// local
// $img-path: "/static/img/";

