@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@import "variables";
@import "resets";

@import "../node_modules/bootstrap/scss/bootstrap";

@import "bootstrap-overrides";

@import "darktheme-overrides";

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --bs-body-font-family: 'Inter', sans-serif;
}

footer {
    font-size: smaller !important;
}

main {
    min-height: 100%;
    position: relative;
}

hr {
    margin: auto;
}

nav {
    box-shadow: 0 .5rem 1rem #00000026, inset 0 -1px #ffffff26;
}

nav div .navbar-collapse {
    flex-grow: 0 !important;
}

#modulesCarouselAutoplay {
    height: 512px;
    svg {
        fill: $magic-tertiary-light;
    }
    img {
        width: 70%;
        height: 50%;
        object-fit: none;
        object-position: center;
        position: absolute;
        left: 20%;
        top: 30%;
    }
}

.logo {
    width: 150px;
    font-size: large; 
    font-variant-caps: small-caps; 
    letter-spacing: 1.5px;
}

.navbar-toggler-icon {
    width: 1rem;
    color: $magic-secondary-dark;
}

.navbar-brand {
    font-family: $brand-font;
}

.nav-link.active {
    text-decoration: underline;
    text-decoration-color: $magic-accent;
}

.underline-highlight {
    height: 4px;
    border: none; 
    background-color: $magic-accent;
    margin: 0;
    width: 80px;
}

.my-input:focus {
    border-color: $magic-accent;
    box-shadow: 0 0 0 0.25rem rgba(64, 20, 0, 0.125);
}

.card {
    height: 100%;
    width: 392px;
}

.card-img-top {
    height: 136px;
}

.card-body {
    height: 224px;
    overflow-x: hidden;
}

#carousel-image1 {
    background-image: url('/static/img/generic-img.webp');
}

#carousel-image2 {
    background-image: url('/static/img/generic-img2.webp');
}

#carousel-image3 {
    background-image: url('/static/img/generic-img3.webp');
}

.module-buttons {
    max-width: 512px;
    button {
        min-width: max-content;
    }
}

.modal-footer button {
        min-width: max-content;
}


.bg-image {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.version {
    height: max-content;
    width: max-content;
    font-family: 'Source Code Pro', monospace;
    color: $magic-tertiary-light;
    background-color: $magic-secondary-light;
    margin-bottom: $card-title-spacer-y;
}